/* stylesheet for to-do-list */

:root {
  --border-color: white;
  --font-color: white;
  --header-bg: rgba(67, 111, 137, 0.5);
}

body {
  display: grid;
  grid-template-rows: 1fr 6fr;
  grid-template-columns: 1fr;
  justify-content: center;
  background-image: url(./images/bg-image.jpg);
  /* background-repeat: no-repeat; */
  background-size: cover;
  background-blend-mode: multiply;
  background-color: gray;
  color: var(--font-color);
  margin: 0;
  height: 100vh;
}

header {
  grid-row: 1/2;
  grid-column: 1/2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  border-bottom: 5px solid var(--border-color);
  padding: 20px;
  background-color: var(--header-bg);
}

.headerRight {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  gap: 20px;
}

#search {
  font-size: 1.5rem;
}

.currentTime {
  font-size: 1.5rem;
  margin: 0;
}

#convert {
  font-size: 1rem;
  width: 50px;
}

#locationName {
  font-size: 2rem;
  margin: 0;
}

main {
  grid-row: 2 / 3;
  grid-column: 1 / 2;

  display: grid;
  grid-template-columns: 320px 1fr;
  gap: 20px;
  justify-content: center;
  padding: 20px;
}

.today {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 6fr;
  justify-content: center;
  text-align: center;

  h1 {
    grid-column: 1/3;
  }
}

.week {
  display: flex;
  justify-content: space-between;

  div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

div {
  border: 2px solid var(--border-color);
  border-radius: 10px;
  margin: 10px;
  padding: 10px;
}

.dayIcon {
  height: 50px;
  width: 50px;
}
