/* stylesheet for to-do-list */

.tabEntry {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  border-radius: 6px;
  transition: background-color 0.2s ease;
}

.tabEntry.active {
  background-color: #2b2b2b; /* darkened */
}

/* .tabEntry.active .tab {
  background-color: white;
} */

/* .tabRemoveBtn {
  display: inline-block;
  margin-left: auto;
  transition: opacity 0.2s;
} */

.emptyState {
  text-align: center;
  opacity: 0.6;
  margin-top: 2rem;
  font-style: italic;
}

.overdue {
  border: 4px solid red;
}
.dueSoon {
  border: 4px solid orange;
}

.card.completed {
  opacity: 0.6;
}

.card.completed .taskName {
  text-decoration: line-through;
}

/* styles.css */

.priority.low {
  background-color: #4caf50; /* green */
  color: white;
}

.priority.medium {
  background-color: #ff9800; /* orange */
  color: white;
}

.priority.high {
  background-color: #f44336; /* red */
  color: white;
}

.cardFooter.low {
  border-top: 3px solid #4caf50;
}

.cardFooter.medium {
  border-top: 3px solid #ff9800;
}

.cardFooter.high {
  border-top: 3px solid #f44336;
}
